.social iframe {
	vertical-align: middle;
}

main {
	background-color: #99aab5;
	color: #ffffff;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.blog-sidebar {
	color: #2c2f33;
}

.jumbotron {
  background-color: #ffffff;
	color: #2c2f33;
}

.navbar {
  background-color: #23272a;
}

.card {
  background-color: #99aab5;
  color: #ffffff;
}

.modal-content {
  color: #23272a;
}

.card-btn {
  background-color: #99aab5;
  border-color: #99aab5;
}

.jumbotron-btn {
  background-color: #99aab5;
  border-color: #99aab5;
	margin-bottom: 5px;

}

.jumbotron-btn: hover {
  background-color: #7289da;
  border-color: #7289da;

}

.col-md-4.blog-sidebar {
	margin-top: 30px;
}
